.body{
    width: 1900px;
    height: auto;
    font: sans-serif;
    font-size: 20px;
}
.header {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: black;
    color: white;
}
.nav{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: black;
    color: white;
    word-spacing: 3px;
}
.section{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: floralwhite;
}
.sec{
    text-align: center;
    color: black;
}
.imgtxt {\padding-left: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}
.image {
    font-size: 20px;
    color: black;
}
.text {
    font-size: 20px;
    color: black;
}
.disector {
    display: flex;
}
/* Create three equal columns that sits next to each other */
.disect {
  flex: 33.33%;
  padding: 5px;
  color: black;
  text-align: center;
}
.difactor{
    display: flex;
}
/* Create three equal columns that sits next to each other */
.difact{
  flex: 33.33%;
  padding: 5px;
  color: black;
  text-align: center;
}
.discretion{
    display: flex;
}
/* Create three equal columns that sits next to each other */
.discrete{
  flex: 33.33%;
  padding: 5px;
  color: black;
  text-align: center;
}
.disconcrete{
    display: flex;
}
/* Create three equal columns that sits next to each other */
.concrete{
  flex: 33.33%;
  padding: 5px;
  color: black;
  text-align: center;
}
.disfunction{
    display: flex;
}
/* Create three equal columns that sits next to each other */
.difunction{
  flex: 33.33%;
  padding: 5px;
  color: black;
  text-align: center;
}
.footer {
    width: 100%;
    height: auto;
    text-decoration-color: darkblue;
    background-color: black;
    color: white;
    text-align: center;
}
ul {
    text-decoration-color: black;
    color: white;
    padding: 20px;
}

    ul li {
        display:inline;
        padding:20px;
        text-decoration:white;
        color: black;

    }

        ul li a {
            text-decoration: white;
            color: white;
            font-size: 125%;
            padding:50px;
        }

            ul li a:hover {
                text-decoration-color: red;
                display: inline;
                color:red;
            }
    