html,
body {
	margin: 0;
	padding: 0;
}
.headers {
	width: 100%;
	height: auto;
	text-align: center;
	background-color: black;
	color: white;
}
.nav {
	background-color: black;
	color: white;
	word-spacing: 3px;
}
.section {
	width: 100%;
	height: 100vh;
	text-align: center;
	background-color: floralwhite;
}
.footer {
	width: 100%;
	height: auto;
	text-decoration-color: darkblue;
	background-color: black;
	color: white;
	text-align: center;
}
ul {
	text-decoration-color: black;
	color: white;
	padding: 20px;
}
ul li {
	display: inline;
	padding: 20px;
	text-decoration: white;
	color: black;
}
ul li a {
	text-decoration: white;
	color: white;
	font-size: 125%;
	padding: 50px;
}
ul li a:hover {
	text-decoration-color: red;
	display: inline;
	color: red;
}
